<!DOCTYPE html>
<html lang="en">
<head>
    <title>DefectFind</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth_styles.css">
</head>

<body>

<div class = "center-container">
    <div class = "form-container">
        <h1 class="auth-title">Authentication</h1>
        <form action="login" method="POST">
            <div class="textfield-label">
                <label for="email" >Email</label><br>
                <input type="email" id = "email" name = "email" required value=<%=locals.email||" "%> >
            </div>
            <div  class="textfield-label">
                <label for="password">Password</label><br>
                <input type="password" id = "password" name = "password" required value=<%=locals.password||" "%>>
            </div>
            <button class="auth-button" type="submit">Sign In</button>
        </form>
        <% if (message.length > 0) { %>
            <div class="err-message"><%= message %></div>
        <% } %>
        <br><a href="register" class="auth-redirect-text">Dont have an account? Register</a>
    </div>
</div>
</body> 
</html>