<!DOCTYPE html>
<html lang="en">
<head>
    <title>DefectFind</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/auth_styles.css">
</head>

<body>

<div class = "center-container">
    <div class = "form-container">
        <h1 class="auth-title">Registration</h1>
        <form action="/register" method="POST" >
            <div class="textfield-label">
                <label for="name">Name</label>
                <input type="text" id = "name" name = "name" value="<%=locals.name%>" required>
            </div>

            <div class="textfield-label">
                <label for="email">Email</label>
                <input type="email" id = "email" name = "email" value="<%=locals.email%>" required>
            </div>

            <div class="textfield-label">
                <label for="password">Password</label>
                <input type="password" id = "password" name = "password" value="<%=locals.password%>" required>
            </div>
            <button class="auth-button" type="submit">Create Account</button>
        </form>
        <% if (message.length > 0) { %>
        <div class="err-message"><%= message %></div>
        <% } %>
        <br><a href="/login" class="auth-redirect-text">Aready have an account? Login</a>
    </div>
</div>
</body> 
</html>